{#
 # This file is part of Redado.
 #
 # Copyright (C) 2013 Guillaume Royer
 #
 # Redado is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Affero General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Redado is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with Redado.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends "RedadoCoreBundle::layout.html.twig" %}

{% block h1 %}
{% trans %}
Aministration
{% endtrans %}
{% endblock %}

{% block content %}
	<div class="row-fluid"><br/></div>
	<div class="row-fluid">
		<div class="span4 well">
		    {% trans %}Number of users registered{% endtrans %} : {{ user_q }}<br />
            <a href="{{ path('user_new') }}">{% trans %}Create user{%endtrans %}</a>
		</div>
		<div class="span4 well">
		    {% trans %}Number of groups registered{% endtrans %} : {{ group_q }}<br />
		    <a href="{{ path('group_new') }}">{% trans %}Create group{%endtrans %}</a>
		</div>
		<div class="span4 well">
		    {% trans %}Group type settings{% endtrans %}
		</div>
	</div>
{% endblock %}
